ul {
    .about-bold {
        font-weight: bold;
    }
}

.hide {
    display: none;
}

.focus-btn {
    color: $black;
}
.unfocus-btn {
    // color: $light-grey-01;
    opacity: 0.1;

    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    
    &:hover {
        opacity: 1;
    }
    &::after {
        -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.about-container {

    .about-section {
        margin: 150px 0px;

        p {
            max-width: 600px;
        }
    }
}
.about-container > div:nth-child(even) {
    text-align: right;
    p {
        margin-left: auto;
    }
}
.about-container > div:last-child {
    text-align: center;
}

#about-resume {

    .resume-container {
        max-width: 600px;

        h4 {
            margin-bottom: 5px;
        }
        p.resume-date {
            margin: 0px 0px;
            font-family: $font-roboto-mono;
            color: $grey-02;
            text-transform: uppercase;
        }
        p.resume-description {
            margin-top: 5px;
            // font-style: italic;
        }
        
        .resume-position {
            color: $link-color;
        }
    
        // EDUCATION
        .resume-education-degree {
            margin-top: 5px;
            color: $link-color;
            font-weight: bold;
        }
    
        .resume-education-major {
            margin: 0px 0px;
            color: $grey-02;
            font-weight: normal;
            // font-style: italic;
        }
    }

}