
// MAIN CONTENT
.blog {
    li {
        @apply my-0;
        @apply mx-4;
    }
    p {
        @apply mb-10;
    }
    img {
        width: 100%;
    }
}

// TAG
.taglist {
    display: flex;
    list-style-type: none;
    font-size: 14px;
}
.taglist > * {
    margin-right: 1rem;
}


/* Laptop, Desktop ----------- */
@media (min-width: 1024px) {
    .blog {

        h1, h2 {
            @apply my-10;
        }
        p, li, img {
            @apply my-8;
            @apply mx-0;
        }
    }
}
