// FRONT MATTER
.blog-title {
    text-align: left;
    margin-bottom: 18px;
}
.blog-description {
    color: $light-grey-01;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 34px;
    font-family: $font-arial;
    max-width: 600px;

    margin-top:"15px";
}
.blog-category {
    color: $light-grey-02;

    text-align: left;
    display: inline;
}
.blog-date {
    color: $light-grey-02;

    text-align: left;
    display: inline;
}


// MAIN CONTENT
.blog {
    h1, h2, li { // Making the main text content to be smaller than the main width
        margin: 0px 60px;
        word-break: keep-all;
    }
    h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 20px;
    }
    img {
        width: 100%;
    }
}

// TAG
.taglist {
    display: flex;
    list-style-type: none;
    font-size: 14px;
}
.taglist > * {
    margin-right: 2px;
}
/* Tablet ----------- */
@media (min-width: 600px) {
    .blog-description {
        font-size: 2rem;
        line-height: 34px;
    
        margin-top:"15px";
    }

    .blog {
        h1, h2, li, p { // Making the main text content to be smaller than the main width
            margin: 0px 60px;
        }
    }
}
