// FOOTER
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    font-size: 14px;
    color: $grey-02;

    font-family: 'Roboto Mono', monospace;
}