// FOOTER
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    p {
        font-size: 14px;
        color: $grey-02;
        font-family: 'Roboto Mono', monospace;
    }
    
}