// HEADER
// NAV
.header-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    .header-logo {
        margin-top: 4vh;
        margin-bottom: 7vh;
    }
}

.nav-container {
    font-family: $font-roboto-mono; //$font-proxima;
    // text-transform: uppercase;
    // letter-spacing: 2px;
    font-size: 14px;

    margin-bottom: 100px;

    .navbar-item {
        margin: 13px;
        color: $grey-02;
    }

    .navbar-item:hover {
        color: $link-color; // $light-grey-01;
    }

    .active {
        border-bottom: solid 1px $link-color; // text-decoration: underline;
        color: $link-color; //$light-grey-01;
        padding-bottom: 2px;
    }
}