.taglist {
    flex-wrap: wrap;
    li {
        line-height: 1.5rem;
    }
}

.tag-content-container {
    margin-bottom: 20px;
    // border: solid 1px $light-grey-04;
    // border-radius: 4px;
    width: 400px;

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: 100%;
    }
}