// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url("https://use.typekit.net/olz0zfv.css"); // Only valid through SAIC account - Proxima Nova, Aktiv-Grotesk

// GLOBAL
$black: black;
$grey-01: #666666;
$grey-02: #777777;
$light-grey-01: #c9c9c9;
$light-grey-02: #f7f7f7;
$dark-grey-01: #262626;
$link-color: #ff4470; //#4fa3b8; // #b84f4f
$link-color-02: #ff84a1;// #69c4db; // #e99898

$p-line-height: 23.8px;

// UTILS
h1,
h2,
h3 {
    color: $dark-grey-01;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 900px;
}

p {
    font-size: 14px;
    margin: 30px 0px;
    line-height: $p-line-height;
    color: $dark-grey-01;
}
li {
    font-size: 14px;
    line-height: $p-line-height;
}
a {
    // font-family: 'Montserrat', sans-serif;
    // font-family: aktiv-grotesk, sans-serif;
    text-decoration: none;
    color: $link-color;
}

a:hover {
    color: $link-color-02;
}


// LANDING PAGE
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 95vh;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

}
.landing-container-link {
    display: flex;
    align-items: center;
}
.landing-container-link-link {
    margin: 10px;
    letter-spacing: 3px;
    color: #8c8c8c;
}
.landing-container-link-link:hover {
    color: $link-color;
}

// HEADER
// NAV
.header-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    .header-logo {
        margin-top: 4vh;
        margin-bottom: 7vh;
    }
}

.nav-container {
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;

    margin-bottom: 100px;

    .navbar-item {
        margin: 13px;
        color: $grey-01;
    }

    .navbar-item:hover {
        color: $link-color; // $light-grey-01;
    }

    .active {
        color: $link-color; //$light-grey-01; 
    }
}

// BLOG
// ROLL
.blog-roll-item {
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    color: $dark-grey-01;
    // background-color: red;

    .blog-roll-item-title {
        color: $dark-grey-01;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .blog-roll-date {
        font-size: 13px;
        color: $dark-grey-01;
    }
    p {
        color: $dark-grey-01;
    }   
}
.blog-roll-item:hover{
    background-color: $light-grey-02;
}

// FRONT MATTER
.blog-date {
    color: $light-grey-01;
}
.blog-category {
    color: $light-grey-01;
}

// TAG
.taglist {
    display: flex;
    list-style-type: none;
    font-size: 14px;
}
.taglist > * {
    margin-right: 2px;
}




// FOOTER
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    font-size: 14px;
    color: $grey-02;
}